 <div class="jumbotron">
    <h1>Home/front_page.html.erb</h1>
    <p>This example is a quick exercise to illustrate how the 
default, static navbar and fixed to top navbar work. It includes the 
responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    <p>
      <a class="btn btn-lg btn-primary" href="http://getbootstrap.com/components/#navbar" role="button">View navbar docs »</a>
    </p>
  </div>

</div> <!-- /container -->