<table class="table">
  <thead>
    <tr>
      <th>seat</th>
      <th>purchase_id</th>
      <th>purchaser</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.seat %></td>
        <td><%= ticket.purchase_id %></td>
        <td><%= ticket.purchase.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>