<table class="table">
  <thead>
    <tr>
      <th>Seat</th>
      <th>Customer</th>
      <th>Emitted</th>
      <th>Purchase_id</th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.seat %></td>
        <td><%= ticket.purchase.name %></td>
        <td><%= ticket.created_at.to_s(:short) %></td>
        <td><%= ticket.purchase_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>